
@{
    ViewBag.Title = "HasUserAlreadyWedding";
}

<hr />
<h1 class="text-danger text-center" >
    Zarejestrowałeś już wesele w systemie! <br />W razie sprawy wyjątkowej skontaktuj się z administratorem!
</h1>
<hr />


